@import "tailwindcss";

/* Custom font */


@font-face {
  font-family: 'MyCustomFont';
  src: url('/customFont.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'MyCustomFont', sans-serif;
}
